@import "./layouts/home";
@import "./animations/animations";
@import "./header.footer/footer";
@import "./header.footer/header";
@import "./header.footer/content";
@import "./productlis/productlist";
   
   

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  
  
}
 

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



