.Home {
  background-image: url("../../img/homebck.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

#Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem; }

#logo {
  width: 100px; }

.contactinfo {
  display: flex;
  gap: 30px;
  color: white; }

#Header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem; }

.NameSearch {
  display: flex;
  align-items: center;
  gap: 260px;
  color: white; }

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none; }

#search {
  background-color: transparent;
  border: 2px solid #0a0a0a;
  border-radius: 1px;
  outline: none; }

.btns {
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  outline: none; }

.aboutsite {
  color: white;
  font-size: 30px; }

.welcome {
  color: white;
  font-size: 30px;
  text-align: center; }

.movie-card {
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 520px;
  background-color: #1b3850;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; }

.movie-img {
  width: 100%;
  height: 60%; }

.movie-img img {
  width: 100%;
  height: 100%; }

.movie-det {
  color: white;
  padding: 10px; }

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold; }

.description {
  font-size: 14px;
  font-weight: 500; }

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 600; }

#productlist {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap; }

.buy {
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 18px; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }
