.movie-card {
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 520px;
  background-color: #1b3850;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; }

.movie-img {
  width: 100%;
  height: 60%; }

.movie-img img {
  width: 100%;
  height: 100%; }

.movie-det {
  color: white;
  padding: 10px; }

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold; }

.description {
  font-size: 14px;
  font-weight: 500; }

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 600; }

#productlist {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap; }

.buy {
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 18px; }
