#Footer {
    display: flex; 
    align-items: center;  
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    

}
#logo   {
    width: 100px;
}
.contactinfo {
    display: flex;
    gap: 30px;
    color: white;
}

