#Header {
    display: flex; 
    align-items: center;  
    position: relative;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
}

.NameSearch {
    display: flex;
    align-items: center;
    gap: 260px;
    color: white;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}
#search {
    background-color: transparent;
    border: 2px solid #0a0a0a;
    border-radius: 1px;
    outline: none;  
}
.btns {
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    outline: none;
 
 
}