.Home {
    background-image: url("../../img/homebck.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
